aws_region = "us-east-1"
environment = "dev"

mongodb_project_name = "my-mongodb-project"
mongodb_cluster_name = "my-cluster"
mongodb_username = "admin"
mongodb_password = "securepassword"
mongodb_database_name = "myapp"


react_app_bucket_name = "my-react-app-bucket-helbertcl"
flutter_app_bucket_name = "my-flutter-app-bucket"
api_gateway_name = "my-api-gateway"
ec2_key_name = "intentoterraform"


mongodb_atlas_org_id = "645be69e2f7f4b36a65c1f34"
mongodb_atlas_public_key = "yhapwtrq"
mongodb_atlas_private_key  = "478d8f37-8fcc-47f6-9c1b-bb4ee82be186"
grafana_auth = "glsa_esGUMCJEM7a8XXyWPpaGloe7I2BwrV0j_b75392d5"
grafana_url  = "https://jh2021071085.grafana.net"
